{% extends 'base.html' %}
{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <p class="col-xs-12, col-sm-12, col-md-12, col-lg-12">
            <h1 class="text-center">BUSINESSES NEAR YOU:</h1>
        </p>
    </div>
    <div class="row">
        {% for business in businesses %}
        <div class="col-xs-12, col-sm-12, col-md-6, col-lg-6">
            <h3>{{business.business_name}}</h3>
            <p>{{business.description}}</p>
            <h4>Contact them:</h4>
            <p>{{business.email}}</p>
            <p>Posted by: {{business.biz_person}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}