{% extends 'base.html' %}
{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <p class="col-xs-12, col-sm-12, col-md-12, col-lg-12">
            <h1 class="text-center">POLICE STATIONS NEAR YOU:</h1>
        </p>
    </div>
    <div class="row">
        {% for station in stations %}
        <div class="col-xs-12, col-sm-12, col-md-6, col-lg-6">
            <p>Located at: {{station.location}}</p>
            <h4>Contact them:</h4>
            <p>{{station.email}}</p>
            <p>{{station.phone}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}