{% extends 'base.html' %}
{% load bootstrap4%}
{% load staticfiles %}
{% block content%}
<div class="container">
    <div class="row">
        <p style="font-size:30px;">{{user.username}}</p>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <p>POSTS</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-success btn-lg" value="Post">
            
                {% block scripts %}
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                {% bootstrap_javascript %}
                {% endblock %}
            </form>
        </div>
    </div>
        {% for business in businesses %}
    <div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h4>{{business.business_name}}</h4>
            <p>{{business.description}}</p>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}